#terminal {
    padding: 2em;
    width: 60%;
}

input[type="file"] {
    display: none;
}

.terminal-upload,
.terminal-theme-dropdown, 
.terminal-generate-btn {
    cursor: pointer;
}

#terminal button {
    font-size: 1em;
}

.terminal-btns-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.terminal-generate-btn {
    border-radius: 9999px;
    padding: 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #1c1c1c;
}

.terminal-generate-btn > p {
    background: linear-gradient(89.97deg, #2c527d 1.84%, #8fbef4 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.terminal-generate-btn:hover {
    background: linear-gradient(89.97deg, #062141 1.84%, #205694 102.67%);
    box-shadow: #6e67fa65  0px 5px 15px 0px;
}

.terminal-generate-btn:hover > p {
    background: none;
    -webkit-text-fill-color: white;
    color: white; /
}

.terminal-btns-misc {
    display: flex; 
    flex-direction: row;
    align-items: center;
    height: fit-content;
    gap: 1em;
}

.terminal-btns-theme {
    display: flex; 
    align-items: center;
    gap: 1em;
}

.terminal-btns-theme > p {
    color: white;
    font-size: small;
}

.terminal-theme-dropdown {
    font-size: 1em; 
    background: transparent;
    color: white;
    border-radius: 9999px;
    padding: 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.terminal-theme-dropdown:focus {
    border-color: #01000e; 
    background-color: #010a13; 
  }

.terminal-btns-upload {
    height: 39px;
    border-radius: 9999px;
    padding: 8px 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
}

.terminal-upload {
    height: 25px;
}